@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
.navbar-profile-pic img {
  border-radius: 90px;
  height: 180px;
  width: 160px;
  display: flex;
  vertical-align: middle;
  margin: 0 auto;
  padding-right: 10px;
  padding-top: 10px;
  /* margin-top: 20px; */
}

.nav-item {
  color: white;
  /* margin-top: 30px; */
  margin-left: 25px;
}
.nav-link {
  margin: 20px;
  padding: 15px;
  cursor: pointer;
  font-style: italic; /* Make the font italic */
  font-size: 18px; /* Adjust the size as needed */
  color: rgb(78, 77, 77); /* Text color */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Optional shadow for effect */
  font-weight: bold;
}

.nav-link svg {
  height: 24px; /* Adjust icon size */
  width: auto; /* Keep aspect ratio */
}
.nav-link:hover {
  color: #f29f67;
}

.nav-link .active {
  color: #f29f67;
  border-left: 5px solid #f29f67;
  padding-left: 10px;
  text-decoration: none;
}
